﻿body {
    height: 100%;
}

.row {
    width: calc(100% + 30px);
}

.container-fluid.main {
    border: 1px solid #ddd;
    margin: 60px 5px 0px 5px;
    display: flex;
    min-height: calc(100vh - 60px - 5px);
    font-family: Arial;
    color: dimgray;
}

.container-user {
    margin: 5px 0px 5px 0px !important;
    padding: 0px;
}

    .container-user img {
        float: left;
    }

        .container-user img.add {
            margin-top: 7px;
        }

.container-event,
.container-resumo-titulo {
    font-size: 20px;
    font-family: Arial;
    color: dimgray;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
    margin-top: 25px;
}

    .align-right * {
        float: right;
    }

.container-resumo-titulo .event-date,
.container-event .event-date {
    font-size: 15px;
}

.container-gasto {
    margin-top: 20px;
}

    .container-gasto .row {
        margin-top: 5px;
    }

        .container-gasto .row:not(:nth-child(2)) .col-xs-8 {
            border-bottom: 1px solid #ddd;
        }

    .container-gasto .col-xs-8 label {
        margin-top: 10px;
    }

.separator-blue {
    border-bottom: 1px solid #7ad4f1;
    margin: 15px 15px 15px 15px;
}

.container-historico, .container-resumo, container-detalhes {
    margin-top: 10px;
}
    .container-detalhes .align-right,
    .container-resumo .align-right,
    .container-historico .align-right {
        margin-top: 0px;
        padding-right: 15px;
    }
    .container-detalhes .align-left,
    .container-resumo .align-left,
    .container-historico .align-left {
        padding-left: 15px;
    }
    .container-detalhes .row,
    .container-resumo .row,
    .container-historico .row {
        margin-top: 5px;
    }
        .container-detalhes .row .col-xs-5,
        .container-detalhes .row .col-xs-4,
        .container-detalhes .row .col-xs-3,
        .container-resumo .row .col-xs-5,
        .container-resumo .row .col-xs-4,
        .container-resumo .row .col-xs-3,
        .container-historico .row .col-xs-5,
        .container-historico .row .col-xs-4,
        .container-historico .row .col-xs-3 {
            border-bottom: 1px solid #ddd;
            height: 40px;
            line-height: 40px;
        }
            .container-detalhes .row .col-xs-4 img,
            .container-resumo .row .col-xs-4 img,
            .container-historico .row .col-xs-4 img {
                vertical-align: top;
            }

    .container-detalhes .col-xs-5 label,
    .container-detalhes .col-xs-4 label,
    .container-detalhes .col-xs-3 label,
    .container-resumo .col-xs-5 label,
    .container-resumo .col-xs-4 label,
    .container-resumo .col-xs-3 label,
    .container-historico .col-xs-5 label,
    .container-historico .col-xs-4 label,
    .container-historico .col-xs-3 label {
        vertical-align: bottom;
    }
    .container-resumo .row .col-xs-3 *,
    .container-historico .row .col-xs-3 * {
        float: right;
    }

.less-dark {
    color: #999;
    font-weight: 300;
}

.lbl-error{
    color: red;
    font-size: 12px;
    font-weight: 300;
}

img.star{
    margin-top: 5px;
}

.container-title {
    font-size: 20px;
    font-family: Arial;
    color: dimgray;
    padding: 15px;
    padding-bottom: 0px;
    min-height: 50px;
}

.container-evento{
    padding-bottom : 15px;
}

.container-evento #txtNomeNewEvento {
    margin-top: 15px;
}

.container-compras .compra-placeholder .col-xs-12 {
    margin-top: 15px;
    padding-bottom: 5px;
    color: darkgray;
    border-bottom: 1px solid #ddd;
}

.container-compras .compra-item .col-xs-12 {
    margin-top: 15px;
    padding-bottom: 5px;
    color: dimgray;
    border-bottom: 1px solid #ddd;
}

.container-compras {
    padding-top: 5px;
    
}

.img-logo{
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 0px;
}

.lbl-logo {
    color: seagreen;
    font-size: 40px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.container-button{
    margin-top: 10px;
}

.lbl-red{
    color: red;
}

.lbl-green {
    color: seagreen;
}