body {
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h2 {
    padding: 30px 35px;
    margin: -10px -50px;
    text-align: center;
    border-radius: 10px 10px 0 0
}

hr {
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 25px
}

div.container {
    width: 700px;
    height: 610px;
    margin: 25px auto;
}

div.main {
    width: 300px;
    padding: 10px 10px;
    float: left
}

input[type=text] {
    width: 95%;
    height: 30px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #f2f2f2 ActiveBorder;
    font-size: 16px;
    border-radius: 5px
}

input[type=radio] {
    margin: 10px 10px 0
}

label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: 700
}

input[type=submit] {
    width: 70%;
    font-size: 16px;
    background: linear-gradient(#000080 5%,#00004d 100%);
    border: 1px solid #00004d;
    color: #f2f2f2;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline: none
}

    input[type=submit]:hover {
        background: linear-gradient(#000080 5%,#00004d 100%)
    }
